@import "tailwindcss";

@font-face {
    font-family: 'Windows 95';
    src: url('../fonts/w-95-sans-serif.woff2') format('woff2'),
        url('../fonts/w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Windows 95', sans-serif;
    background-color: #008081;
}

@theme {
    --color-bottom-bar: #c0c0c0;
}